.*
!.gitignore
*~
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.status
config.sub
configure
configure.in
Debug
depcomp
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
Makefile.in
missing
mkinstalldirs
po/Makefile.in.in
